// design av footer


// allmänt innom footern
footer {
    position:absolute;
    background-color: rgb(49, 46, 65);
    color: white;
    width: 100%;

}

// footercontainer som flexas och stylas
.flexcontainer {
    display:flex;
    height:40vw;
    justify-content: center;
    align-items:center;
    justify-content: space-evenly;
    
    
}

// extra flexbox i footercontainern för att fa objekten pa rätt plats
.divcontainer1 {
    display:flex;
    height:auto;
    flex-direction: column;
    justify-content: space-between;
}

// extra flexbox i footercontainer
.divcontainer2 {
    display:flex;
    height:auto;
    flex-direction:column;
    justify-content: space-around;
}

// Margin pa all text i footercontainern
#footer2 {
    margin-top:1.5vw;
}

#footer4 {
    margin-top:1.5vw;
}
#footer1 {
    margin-top:2vw;
}
