
// styling av allt som ses först när man öppnar sidan //headern


// positionering och flexing av olika delar i headern 
#firstimage {
    width: 100%;
    position: absolute;
    
}

.top {
    position: relative;  
    display:flex;
    flex-direction:column;
}

#h1 {
    
    align-self: center;
    margin-top: 4vw;  
}

#firsttext,#heyguys {
     
    align-self: center;
    z-index: 200;
    

}

#firsttext {
    margin-top:10px;
}

#heyguys {
    margin-top: 43%;
    margin-left: 15%;
}

