//styling av första delen av main bodyn

#container {

    height:110vw;
    display:flex;
    justify-content: center; 
  
}

#youbility {
    align-self: center;
    margin-left: 10%;
}

    
#youbility>p {
    margin-top: 2%;
}


    .mindre {
        width:50%;
    }
    #firstphone {
        width:50vw;
    }
    





