// styling av andra delen av main bodyn


section>video{
    width:100%;
}
#container2 {   
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
}
div#flex {
    display:flex;
    justify-content: space-evenly;
}

#phonetext {
    display:flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
    text-align:right;
    margin-right: 3vw;
    
    
}
#p1 {
    margin-bottom: 5%;
}
#margin {
    margin-top:5%;   
}
#flex2 {
    margin-right:3vw;
    margin-left:3vw;
}

#container3 {
    position:relative;
    display:flex;
    justify-content: center;
    align-items:center;
    

}

#tip {
    position:absolute;
    margin-bottom:10%;
    
}

#tiptext {
    position: absolute;
    margin-top:15%;
    
}

.overfooter {
    width:100%;
}


    .phone2 {
        width:50%;
    }
    #phone2 {
        width:50vw;
    }
    



